.navbar-default .navbar-brand {
    background-color: #063190;
    color: #FFFFFF;
}


/*span*/
.span-red{
	color: #FF0000 !important;
}


#search_con{
	background-color: #bababa;
	color: #FFFFFF;
}

.narvar-top-1{
	background-color: #FFFFFF;
}