body{
	font-size:12px;
}

.sidebar-nav img{
	margin-right: 5px;
} 

.navbar-brand{
	width: 210px;
}

.narvar-top-1 {
	min-width: 150px;
	border-right:1px solid #ddd;
}

/*.narvar-top-2{
	width: 200px;
	min-width: 200px;
}*/

.narvar-top-3{
	border-left: 1px solid #ddd;
	min-width: 160px;
}

.navbar-form .form-control{
	min-width: 400px;
}

.dropdown-menu {
	min-width: 120px; 
}
